<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/united/bootstrap.min.css">
    <title>Success</title>
</head>

<body class="p-3 mb-2 text-white bg-dark">
    
    <div class="container text-center ">
        <h3 class="p-4">Welcome <%= user.username %> </h3>
        <h1><%= err %></h1>
        <a class="btn btn-danger" href="/logout">Logout</a>
        <div class="container p-3">
            <form action="/addmsg" method="POST">
                <div class="form-group">
                    <label for="basic-url">Type any valid URL</label>
                            <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon3">URL here</span>
                            </div>
                            <input type="url" class="form-control" id="basic-url" aria-describedby="basic-addon3" name='urls' id='urls'>
                        </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-success" type="submit">submit</button>
                </div>
            </form>
            <p>
            </p>
        </div>
    </div>
</body>

</html>